.privacyPolicy {
  padding: 32px;
  max-width: 1000px;
  flex-direction: column;
  display: flex;
}
.privacyPolicyWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
