@import "../../helpers/responsiveBreakpointsMixins.scss";

.footerSection {
  width: 100% !important;
  background-color: #fff;
  bottom: 0px;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 1px;

  & .responsiveColFooter {
    @include x-large {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .rightSide {
    display: flex;
    flex-direction: column;
  }

  &__languages {
    display: flex;
    justify-content: center;
    align-items: center;

    & .selectWrapper {
      display: flex;
      height: 40px;
      padding: 0 10px;
      border-radius: 5px;
      border: solid 1.5px;
      border-color: white;

      & img {
        color: white;
        width: 20px;
        margin-right: 20px;
      }

      & select {
        background: none;
        height: 40px;
        color: white;
        width: 100px;
        border-radius: 5px;
        border-color: white;
        cursor: pointer;
        border: none;
        outline: none;

        & option {
          width: 100px;
          height: 50px;
          color: black;
        }
      }
    }
  }

  &__options {
    &__inputWrapper {
      border-radius: 8px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 320px;
      margin: 0 10px;
      border: solid 1px #d5d4d9;
      overflow: hidden;
      @include medium {
        width: 100%;
      }
    }

    @media screen and (min-width: 600px) {
      &__input {
        border: 0px;
        width: 100%;
        padding: 15px 45px 15px 45px;
        outline: none;
      }
    }

    @media screen and (max-width: 600px) {
      &__input {
        border: 0px;
        width: 100%;
        padding: 15px 45px 15px 45px;
        outline: none;
      }
    }

    &__inputIcon {
      height: 18px;
      width: 18px;
      position: absolute;
      left: 15px;
    }
    &__inputIcon2 {
      height: 18px;
      width: 18px;
      cursor: pointer;
      position: absolute;
      right: 15px;
    }
    @media screen and (min-width: 600px) {
      &__optionTitle {
        font-size: 18px !important;
        font-family: "Sofia Pro Bold";
      }
    }

    @media screen and (max-width: 600px) {
      &__optionTitle {
        font-size: 18px !important;
        font-family: "Sofia Pro Bold";
        text-align: center;
      }
    }

    &__sectionDivOther {
      font-size: 16px !important;
      font-family: "Sofia Pro Bold";
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__sectionDivOther {
      font-size: 16px !important;
      font-family: "Sofia Pro Bold";
    }
    &__sectionImage {
      float: left;
      width: 60px;
      height: 60px;
    }

    &__sectionTitle {
      float: left;
      margin-left: 20px;
      margin-top: 22px;
      margin-bottom: 21px;
      line-height: 19px;
      font-size: 16px !important;
      font-family: "Sofia Pro Bold";
    }

    @media screen and (min-width: 600px) {
      &__sectionMidTitle {
        float: left;
        margin-left: 20px;
        margin-top: 22px;
        margin-bottom: 21px;
        line-height: 19px;
        font-size: 15px !important;
      }
    }

    @media screen and (max-width: 600px) {
      &__sectionMidTitle {
        margin-left: 50px;
        margin-top: 22px;
        margin-bottom: 21px;
        padding-top: 12px;
        line-height: 19px;
        font-size: 15px !important;
      }
    }

    .row {
      width: 100%;
    }

    @include x-large {
      margin: 2rem 0;
    }

    ul {
      margin: 30px 0;
      padding: 0;
      @include medium {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 24px 0;
      }
      & a {
        text-decoration: none;
        color: #95949c;
      }
    }
    & li {
      color: #95949c;
      list-style-type: none;
      cursor: pointer;
      font-size: 14px;
      line-height: 14px;
      margin: 18px 0;
      padding: 2.5px 0;
      letter-spacing: normal;

      @include small {
        font-size: calc(2px + 12px);
        line-height: calc(2px + 12px);
      }

      & a {
        color: #95949c;
      }
    }
  }
  & .footerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include large {
      align-items: center;
      flex-direction: column;
    }
  }
}
@media screen and (min-width: 600px) {
  .footerRow {
    margin-bottom: 30px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 600px) {
  .footerRow {
  }
}
