@font-face {
  font-family: "Sofia Pro";
  src: url(./assets/fonts/SofiaProRegular.woff);
}

@font-face {
  font-family: SofiaMedium;
  src: url(./assets/fonts/SofiaPro-Medium.woff);
}

@font-face {
  font-family: "Sofia Pro Bold";
  src: url(./assets/fonts/SofiaPro-Bold.woff);
}

@font-face {
  font-family: SofiaSemiBold;
  src: url(./assets/fonts/SofiaPro-SemiBold.woff);
}

@font-face {
  font-family: SofiaBlack;
  src: url(./assets/fonts/SofiaPro-Black.woff);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Sofia Pro";
}

input,
textarea {
  font-family: "Sofia Pro";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
